name: Check PRs if wheels are the same as on pypi
on:
  pull_request:
    types: [opened, synchronize, reopened]
jobs:
  changed-files:
    name: Check md5 of new wheels
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Get changed files
        run: |
          BASE_REF=${{ github.event.pull_request.base.ref }}   # e.g. main
          HEAD_SHA=${{ github.event.pull_request.head.sha }}
          git fetch origin "$BASE_REF" --depth=1
          git fetch origin "$HEAD_SHA" --depth=1 || true
          git diff --name-only "origin/$BASE_REF" "$HEAD_SHA" > changed.txt || true
          cat changed.txt

      - name: Detect wheel changes
        id: detect_wheels
        run: |
          if grep -E '^wheels/.*\.whl$' changed.txt; then
            echo "has=true" >> "$GITHUB_OUTPUT"
          else
            echo "has=false" >> "$GITHUB_OUTPUT"
          fi

      - name: Install dependencies
        if: steps.detect_wheels.outputs.has == 'true'
        run: |
          python -m pip install --upgrade pip
          python -m pip install aiohttp

      - name: Run wheel MD5 check
        if: steps.detect_wheels.outputs.has == 'true'
        run: python3 ./scripts/check_wheel_md5.py
